In [1]:
from urllib.request import urlopen
from zipfile import ZipFile
from io import BytesIO
import pandas as pd
import os

In [2]:
# download baby names zip file from ssa.gov
# extract all into ./data/names

os.chdir('..')
url = 'https://www.ssa.gov/oact/babynames/names.zip'
with urlopen(url) as zipresp:
    with ZipFile(BytesIO(zipresp.read())) as zfile:
        zfile.extractall('./data/names')

In [3]:
# run through the files and append into single df

files = os.listdir('./data/names')
for file in files:
    if not file.endswith('.pdf'):
        df = pd.read_csv(f'./data/names/{file}', names=['name', 'sex', 'count'], header=None)
        df['year'] = file[3:7]
        try : 
            names_df    
        except NameError:
            start_year = file[3:7]
            names_df = df
        else:
            names_df = pd.concat([names_df, df], ignore_index=True)
        print(f'Adding {file} ({len(df):,})to df')
        print(f'Total rows: {len(names_df):,}')
        print('')
        end_year = file[3:7]

Adding yob1880.txt (2,000)to df
Total rows: 2,000

Adding yob1881.txt (1,934)to df
Total rows: 3,934

Adding yob1882.txt (2,127)to df
Total rows: 6,061

Adding yob1883.txt (2,084)to df
Total rows: 8,145

Adding yob1884.txt (2,297)to df
Total rows: 10,442

Adding yob1885.txt (2,294)to df
Total rows: 12,736

Adding yob1886.txt (2,392)to df
Total rows: 15,128

Adding yob1887.txt (2,373)to df
Total rows: 17,501

Adding yob1888.txt (2,651)to df
Total rows: 20,152

Adding yob1889.txt (2,590)to df
Total rows: 22,742

Adding yob1890.txt (2,695)to df
Total rows: 25,437

Adding yob1891.txt (2,660)to df
Total rows: 28,097

Adding yob1892.txt (2,921)to df
Total rows: 31,018

Adding yob1893.txt (2,831)to df
Total rows: 33,849

Adding yob1894.txt (2,941)to df
Total rows: 36,790

Adding yob1895.txt (3,049)to df
Total rows: 39,839

Adding yob1896.txt (3,091)to df
Total rows: 42,930

Adding yob1897.txt (3,028)to df
Total rows: 45,958

Adding yob1898.txt (3,264)to df
Total rows: 49,222

Adding yob1899.txt (3,042)to df
Total rows: 52,264

Adding yob1900.txt (3,730)to df
Total rows: 55,994

Adding yob1901.txt (3,153)to df
Total rows: 59,147

Adding yob1902.txt (3,362)to df
Total rows: 62,509

Adding yob1903.txt (3,389)to df
Total rows: 65,898

Adding yob1904.txt (3,560)to df
Total rows: 69,458

Adding yob1905.txt (3,655)to df
Total rows: 73,113

Adding yob1906.txt (3,633)to df
Total rows: 76,746

Adding yob1907.txt (3,948)to df
Total rows: 80,694

Adding yob1908.txt (4,018)to df
Total rows: 84,712

Adding yob1909.txt (4,227)to df
Total rows: 88,939

Adding yob1910.txt (4,629)to df
Total rows: 93,568

Adding yob1911.txt (4,867)to df
Total rows: 98,435

Adding yob1912.txt (6,351)to df
Total rows: 104,786

Adding yob1913.txt (6,968)to df
Total rows: 111,754

Adding yob1914.txt (7,965)to df
Total rows: 119,719

Adding yob1915.txt (9,357)to df
Total rows: 129,076

Adding yob1916.txt (9,696)to df
Total rows: 138,772

Adding yob1917.txt (9,912)to df
Total rows: 148,684

Adding yob1918.txt (10,398)to df
Total rows: 159,082

Adding yob1919.txt (10,369)to df
Total rows: 169,451

Adding yob1920.txt (10,756)to df
Total rows: 180,207

Adding yob1921.txt (10,855)to df
Total rows: 191,062

Adding yob1922.txt (10,756)to df
Total rows: 201,818

Adding yob1923.txt (10,643)to df
Total rows: 212,461

Adding yob1924.txt (10,870)to df
Total rows: 223,331

Adding yob1925.txt (10,638)to df
Total rows: 233,969

Adding yob1926.txt (10,459)to df
Total rows: 244,428

Adding yob1927.txt (10,404)to df
Total rows: 254,832

Adding yob1928.txt (10,161)to df
Total rows: 264,993

Adding yob1929.txt (9,823)to df
Total rows: 274,816

Adding yob1930.txt (9,792)to df
Total rows: 284,608

Adding yob1931.txt (9,298)to df
Total rows: 293,906

Adding yob1932.txt (9,382)to df
Total rows: 303,288

Adding yob1933.txt (9,012)to df
Total rows: 312,300

Adding yob1934.txt (9,180)to df
Total rows: 321,480

Adding yob1935.txt (9,038)to df
Total rows: 330,518

Adding yob1936.txt (8,893)to df
Total rows: 339,411

Adding yob1937.txt (8,947)to df
Total rows: 348,358

Adding yob1938.txt (9,031)to df
Total rows: 357,389

Adding yob1939.txt (8,917)to df
Total rows: 366,306

Adding yob1940.txt (8,961)to df
Total rows: 375,267

Adding yob1941.txt (9,086)to df
Total rows: 384,353

Adding yob1942.txt (9,423)to df
Total rows: 393,776

Adding yob1943.txt (9,408)to df
Total rows: 403,184

Adding yob1944.txt (9,151)to df
Total rows: 412,335

Adding yob1945.txt (9,025)to df
Total rows: 421,360

Adding yob1946.txt (9,704)to df
Total rows: 431,064

Adding yob1947.txt (10,371)to df
Total rows: 441,435

Adding yob1948.txt (10,241)to df
Total rows: 451,676

Adding yob1949.txt (10,271)to df
Total rows: 461,947

Adding yob1950.txt (10,305)to df
Total rows: 472,252

Adding yob1951.txt (10,467)to df
Total rows: 482,719

Adding yob1952.txt (10,646)to df
Total rows: 493,365

Adding yob1953.txt (10,837)to df
Total rows: 504,202

Adding yob1954.txt (10,984)to df
Total rows: 515,186

Adding yob1955.txt (11,127)to df
Total rows: 526,313

Adding yob1956.txt (11,344)to df
Total rows: 537,657

Adding yob1957.txt (11,567)to df
Total rows: 549,224

Adding yob1958.txt (11,529)to df
Total rows: 560,753

Adding yob1959.txt (11,766)to df
Total rows: 572,519

Adding yob1960.txt (11,925)to df
Total rows: 584,444

Adding yob1961.txt (12,185)to df
Total rows: 596,629

Adding yob1962.txt (12,214)to df
Total rows: 608,843

Adding yob1963.txt (12,286)to df
Total rows: 621,129

Adding yob1964.txt (12,397)to df
Total rows: 633,526

Adding yob1965.txt (11,955)to df
Total rows: 645,481

Adding yob1966.txt (12,159)to df
Total rows: 657,640

Adding yob1967.txt (12,404)to df
Total rows: 670,044

Adding yob1968.txt (12,938)to df
Total rows: 682,982

Adding yob1969.txt (13,751)to df
Total rows: 696,733

Adding yob1970.txt (14,782)to df
Total rows: 711,515

Adding yob1971.txt (15,298)to df
Total rows: 726,813

Adding yob1972.txt (15,416)to df
Total rows: 742,229

Adding yob1973.txt (15,686)to df
Total rows: 757,915

Adding yob1974.txt (16,249)to df
Total rows: 774,164

Adding yob1975.txt (16,950)to df
Total rows: 791,114

Adding yob1976.txt (17,400)to df
Total rows: 808,514

Adding yob1977.txt (18,183)to df
Total rows: 826,697

Adding yob1978.txt (18,234)to df
Total rows: 844,931

Adding yob1979.txt (19,043)to df
Total rows: 863,974

Adding yob1980.txt (19,457)to df
Total rows: 883,431

Adding yob1981.txt (19,483)to df
Total rows: 902,914

Adding yob1982.txt (19,700)to df
Total rows: 922,614

Adding yob1983.txt (19,412)to df
Total rows: 942,026

Adding yob1984.txt (19,510)to df
Total rows: 961,536

Adding yob1985.txt (20,091)to df
Total rows: 981,627

Adding yob1986.txt (20,660)to df
Total rows: 1,002,287

Adding yob1987.txt (21,411)to df
Total rows: 1,023,698

Adding yob1988.txt (22,372)to df
Total rows: 1,046,070

Adding yob1989.txt (23,775)to df
Total rows: 1,069,845

Adding yob1990.txt (24,717)to df
Total rows: 1,094,562

Adding yob1991.txt (25,115)to df
Total rows: 1,119,677

Adding yob1992.txt (25,428)to df
Total rows: 1,145,105

Adding yob1993.txt (25,967)to df
Total rows: 1,171,072

Adding yob1994.txt (25,998)to df
Total rows: 1,197,070

Adding yob1995.txt (26,080)to df
Total rows: 1,223,150

Adding yob1996.txt (26,424)to df
Total rows: 1,249,574

Adding yob1997.txt (26,972)to df
Total rows: 1,276,546

Adding yob1998.txt (27,907)to df
Total rows: 1,304,453

Adding yob1999.txt (28,555)to df
Total rows: 1,333,008

Adding yob2000.txt (29,776)to df
Total rows: 1,362,784

Adding yob2001.txt (30,281)to df
Total rows: 1,393,065

Adding yob2002.txt (30,568)to df
Total rows: 1,423,633

Adding yob2003.txt (31,191)to df
Total rows: 1,454,824

Adding yob2004.txt (32,055)to df
Total rows: 1,486,879

Adding yob2005.txt (32,556)to df
Total rows: 1,519,435

Adding yob2006.txt (34,097)to df
Total rows: 1,553,532

Adding yob2007.txt (34,965)to df
Total rows: 1,588,497

Adding yob2008.txt (35,088)to df
Total rows: 1,623,585

Adding yob2009.txt (34,722)to df
Total rows: 1,658,307

Adding yob2010.txt (34,089)to df
Total rows: 1,692,396

Adding yob2011.txt (33,923)to df
Total rows: 1,726,319

Adding yob2012.txt (33,763)to df
Total rows: 1,760,082

Adding yob2013.txt (33,313)to df
Total rows: 1,793,395

Adding yob2014.txt (33,280)to df
Total rows: 1,826,675

Adding yob2015.txt (33,156)to df
Total rows: 1,859,831

Adding yob2016.txt (33,043)to df
Total rows: 1,892,874

Adding yob2017.txt (32,648)to df
Total rows: 1,925,522

Adding yob2018.txt (32,196)to df
Total rows: 1,957,718

Adding yob2019.txt (32,073)to df
Total rows: 1,989,791

Adding yob2020.txt (31,453)to df
Total rows: 2,021,244

Adding yob2021.txt (31,537)to df
Total rows: 2,052,781

In [4]:
# drop columns not needed for name generation
names_df.drop(columns=['year', 'sex', 'count'], inplace=True)

# keep only unique names 
names_df.drop_duplicates(keep='first', inplace=True)
names_df.sort_values(['name'], inplace=True, ignore_index=True)

# output compiled dataset
names_df.to_csv(f'./data/unique_names_{start_year}_{end_year}.txt', header=None, sep=',', index=False)