In [1]:
from urllib.request import urlopen
from zipfile import ZipFile
from io import BytesIO
import pandas as pd
import os

In [2]:
# download baby names zip file from ssa.gov
# extract all into ./data/names

os.chdir('..')
url = 'https://www.ssa.gov/oact/babynames/names.zip'
with urlopen(url) as zipresp:
    with ZipFile(BytesIO(zipresp.read())) as zfile:
        zfile.extractall('./data/names')

In [3]:
# run through the files and append into single df

files = os.listdir('./data/names')
for file in files:
    if not file.endswith('.pdf'):
        df = pd.read_csv(f'./data/names/{file}', names=['name', 'sex', 'count'], header=None)
        df['year'] = file[3:7]
        try: # Check if names_df exists
            names_df   
        except NameError: # If it does not exist, create one
            start_year = file[3:7]
            names_df = df
        else: # If it exists, add the file to it
            names_df = pd.concat([names_df, df], ignore_index=True)

        print(f'Adding {file} ({len(df):,})to df')
        print(f'Total rows: {len(names_df):,}')
        print('')
        end_year = file[3:7]

Adding yob1880.txt (2,000)to df
Total rows: 2,000

Adding yob1881.txt (1,934)to df
Total rows: 3,934

Adding yob1882.txt (2,127)to df
Total rows: 6,061

Adding yob1883.txt (2,084)to df
Total rows: 8,145

Adding yob1884.txt (2,297)to df
Total rows: 10,442

Adding yob1885.txt (2,294)to df
Total rows: 12,736

Adding yob1886.txt (2,392)to df
Total rows: 15,128

Adding yob1887.txt (2,373)to df
Total rows: 17,501

Adding yob1888.txt (2,651)to df
Total rows: 20,152

Adding yob1889.txt (2,590)to df
Total rows: 22,742

Adding yob1890.txt (2,695)to df
Total rows: 25,437

Adding yob1891.txt (2,660)to df
Total rows: 28,097

Adding yob1892.txt (2,921)to df
Total rows: 31,018

Adding yob1893.txt (2,831)to df
Total rows: 33,849

Adding yob1894.txt (2,941)to df
Total rows: 36,790

Adding yob1895.txt (3,049)to df
Total rows: 39,839

Adding yob1896.txt (3,091)to df
Total rows: 42,930

Adding yob1897.txt (3,028)to df
Total rows: 45,958

Adding yob1898.txt (3,264)to df
Total rows: 49,222

Adding yob1899.txt (3,042)to df
Total rows: 52,264

Adding yob1900.txt (3,729)to df
Total rows: 55,993

Adding yob1901.txt (3,153)to df
Total rows: 59,146

Adding yob1902.txt (3,362)to df
Total rows: 62,508

Adding yob1903.txt (3,389)to df
Total rows: 65,897

Adding yob1904.txt (3,560)to df
Total rows: 69,457

Adding yob1905.txt (3,655)to df
Total rows: 73,112

Adding yob1906.txt (3,633)to df
Total rows: 76,745

Adding yob1907.txt (3,948)to df
Total rows: 80,693

Adding yob1908.txt (4,018)to df
Total rows: 84,711

Adding yob1909.txt (4,227)to df
Total rows: 88,938

Adding yob1910.txt (4,629)to df
Total rows: 93,567

Adding yob1911.txt (4,867)to df
Total rows: 98,434

Adding yob1912.txt (6,350)to df
Total rows: 104,784

Adding yob1913.txt (6,968)to df
Total rows: 111,752

Adding yob1914.txt (7,965)to df
Total rows: 119,717

Adding yob1915.txt (9,357)to df
Total rows: 129,074

Adding yob1916.txt (9,696)to df
Total rows: 138,770

Adding yob1917.txt (9,912)to df
Total rows: 148,682

Adding yob1918.txt (10,398)to df
Total rows: 159,080

Adding yob1919.txt (10,369)to df
Total rows: 169,449

Adding yob1920.txt (10,756)to df
Total rows: 180,205

Adding yob1921.txt (10,855)to df
Total rows: 191,060

Adding yob1922.txt (10,756)to df
Total rows: 201,816

Adding yob1923.txt (10,643)to df
Total rows: 212,459

Adding yob1924.txt (10,870)to df
Total rows: 223,329

Adding yob1925.txt (10,638)to df
Total rows: 233,967

Adding yob1926.txt (10,459)to df
Total rows: 244,426

Adding yob1927.txt (10,404)to df
Total rows: 254,830

Adding yob1928.txt (10,161)to df
Total rows: 264,991

Adding yob1929.txt (9,822)to df
Total rows: 274,813

Adding yob1930.txt (9,790)to df
Total rows: 284,603

Adding yob1931.txt (9,298)to df
Total rows: 293,901

Adding yob1932.txt (9,382)to df
Total rows: 303,283

Adding yob1933.txt (9,014)to df
Total rows: 312,297

Adding yob1934.txt (9,179)to df
Total rows: 321,476

Adding yob1935.txt (9,037)to df
Total rows: 330,513

Adding yob1936.txt (8,893)to df
Total rows: 339,406

Adding yob1937.txt (8,948)to df
Total rows: 348,354

Adding yob1938.txt (9,031)to df
Total rows: 357,385

Adding yob1939.txt (8,918)to df
Total rows: 366,303

Adding yob1940.txt (8,962)to df
Total rows: 375,265

Adding yob1941.txt (9,086)to df
Total rows: 384,351

Adding yob1942.txt (9,422)to df
Total rows: 393,773

Adding yob1943.txt (9,409)to df
Total rows: 403,182

Adding yob1944.txt (9,152)to df
Total rows: 412,334

Adding yob1945.txt (9,024)to df
Total rows: 421,358

Adding yob1946.txt (9,705)to df
Total rows: 431,063

Adding yob1947.txt (10,371)to df
Total rows: 441,434

Adding yob1948.txt (10,240)to df
Total rows: 451,674

Adding yob1949.txt (10,271)to df
Total rows: 461,945

Adding yob1950.txt (10,305)to df
Total rows: 472,250

Adding yob1951.txt (10,467)to df
Total rows: 482,717

Adding yob1952.txt (10,646)to df
Total rows: 493,363

Adding yob1953.txt (10,836)to df
Total rows: 504,199

Adding yob1954.txt (10,984)to df
Total rows: 515,183

Adding yob1955.txt (11,130)to df
Total rows: 526,313

Adding yob1956.txt (11,344)to df
Total rows: 537,657

Adding yob1957.txt (11,570)to df
Total rows: 549,227

Adding yob1958.txt (11,531)to df
Total rows: 560,758

Adding yob1959.txt (11,767)to df
Total rows: 572,525

Adding yob1960.txt (11,927)to df
Total rows: 584,452

Adding yob1961.txt (12,182)to df
Total rows: 596,634

Adding yob1962.txt (12,216)to df
Total rows: 608,850

Adding yob1963.txt (12,283)to df
Total rows: 621,133

Adding yob1964.txt (12,397)to df
Total rows: 633,530

Adding yob1965.txt (11,956)to df
Total rows: 645,486

Adding yob1966.txt (12,160)to df
Total rows: 657,646

Adding yob1967.txt (12,404)to df
Total rows: 670,050

Adding yob1968.txt (12,942)to df
Total rows: 682,992

Adding yob1969.txt (13,750)to df
Total rows: 696,742

Adding yob1970.txt (14,783)to df
Total rows: 711,525

Adding yob1971.txt (15,301)to df
Total rows: 726,826

Adding yob1972.txt (15,416)to df
Total rows: 742,242

Adding yob1973.txt (15,684)to df
Total rows: 757,926

Adding yob1974.txt (16,251)to df
Total rows: 774,177

Adding yob1975.txt (16,951)to df
Total rows: 791,128

Adding yob1976.txt (17,403)to df
Total rows: 808,531

Adding yob1977.txt (18,188)to df
Total rows: 826,719

Adding yob1978.txt (18,237)to df
Total rows: 844,956

Adding yob1979.txt (19,043)to df
Total rows: 863,999

Adding yob1980.txt (19,457)to df
Total rows: 883,456

Adding yob1981.txt (19,482)to df
Total rows: 902,938

Adding yob1982.txt (19,700)to df
Total rows: 922,638

Adding yob1983.txt (19,413)to df
Total rows: 942,051

Adding yob1984.txt (19,515)to df
Total rows: 961,566

Adding yob1985.txt (20,092)to df
Total rows: 981,658

Adding yob1986.txt (20,663)to df
Total rows: 1,002,321

Adding yob1987.txt (21,413)to df
Total rows: 1,023,734

Adding yob1988.txt (22,373)to df
Total rows: 1,046,107

Adding yob1989.txt (23,777)to df
Total rows: 1,069,884

Adding yob1990.txt (24,719)to df
Total rows: 1,094,603

Adding yob1991.txt (25,113)to df
Total rows: 1,119,716

Adding yob1992.txt (25,432)to df
Total rows: 1,145,148

Adding yob1993.txt (25,968)to df
Total rows: 1,171,116

Adding yob1994.txt (25,997)to df
Total rows: 1,197,113

Adding yob1995.txt (26,082)to df
Total rows: 1,223,195

Adding yob1996.txt (26,426)to df
Total rows: 1,249,621

Adding yob1997.txt (26,973)to df
Total rows: 1,276,594

Adding yob1998.txt (27,909)to df
Total rows: 1,304,503

Adding yob1999.txt (28,557)to df
Total rows: 1,333,060

Adding yob2000.txt (29,776)to df
Total rows: 1,362,836

Adding yob2001.txt (30,281)to df
Total rows: 1,393,117

Adding yob2002.txt (30,572)to df
Total rows: 1,423,689

Adding yob2003.txt (31,194)to df
Total rows: 1,454,883

Adding yob2004.txt (32,058)to df
Total rows: 1,486,941

Adding yob2005.txt (32,559)to df
Total rows: 1,519,500

Adding yob2006.txt (34,102)to df
Total rows: 1,553,602

Adding yob2007.txt (34,966)to df
Total rows: 1,588,568

Adding yob2008.txt (35,094)to df
Total rows: 1,623,662

Adding yob2009.txt (34,724)to df
Total rows: 1,658,386

Adding yob2010.txt (34,098)to df
Total rows: 1,692,484

Adding yob2011.txt (33,934)to df
Total rows: 1,726,418

Adding yob2012.txt (33,771)to df
Total rows: 1,760,189

Adding yob2013.txt (33,329)to df
Total rows: 1,793,518

Adding yob2014.txt (33,294)to df
Total rows: 1,826,812

Adding yob2015.txt (33,170)to df
Total rows: 1,859,982

Adding yob2016.txt (33,059)to df
Total rows: 1,893,041

Adding yob2017.txt (32,670)to df
Total rows: 1,925,711

Adding yob2018.txt (32,221)to df
Total rows: 1,957,932

Adding yob2019.txt (32,109)to df
Total rows: 1,990,041

Adding yob2020.txt (31,517)to df
Total rows: 2,021,558

Adding yob2021.txt (31,685)to df
Total rows: 2,053,243

Adding yob2022.txt (31,915)to df
Total rows: 2,085,158

In [22]:
# eda

# analysis 1 - compile a list of top 5 names by sex for each year and for all time
# identify top 5 baby names by year by sex
tmp1 = names_df.sort_values(by=['year', 'sex', 'count'], ascending=False).groupby(by=['year', 'sex']).head(5)
# identify top 5 baby names of all time by sex 
tmp2 = names_df[['name', 'sex', 'count']].groupby(by=['name', 'sex'], as_index=False).sum()
tmp2['year'] = 0
tmp2 = tmp2.sort_values(by=['year', 'sex', 'count'], ascending=False).groupby(by=['year', 'sex']).head(5)
# put the two lists together
top5_names_by_sex_by_year = pd.concat([tmp2, tmp1], ignore_index=True)
# output the list
top5_names_by_sex_by_year.to_csv(f'./data/top5_names_by_year_and_sex.txt', sep=',', index=False)

# analysis 2 - compile a list of top 5 gender-neutral names for each year and for all time
#

In [ ]:
# drop columns not needed for name generation
names_df.drop(columns=['year', 'sex', 'count'], inplace=True)

# keep only unique names 
names_df.drop_duplicates(keep='first', inplace=True)
names_df.sort_values(['name'], inplace=True, ignore_index=True)
print(f'Number of unique names: {len(df_names):,}')

# output compiled dataset
names_df.to_csv(f'./data/unique_names_{start_year}_{end_year}.txt', header=None, sep=',', index=False)